* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  margin: 0;
  /* height: 100%; */
}

.header-container {
  margin: 0 auto;
  background: #f1fdff
    url('./images/medium-shot-woman-holding-ukranian-flag\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  max-width: 1440px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.nav-panel {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 63px 100px;
  align-items: center;
  list-style: none;
}

li {  
  font-size: 18px;
  padding: 12px;
}

.right-position {
  margin-left: auto;
}

a {
  text-decoration: none;
}

.blue-button {
  background: #7ae5fd;
  border-radius: 87px;
  padding: 10px 20px;
  white-space: nowrap;
}

.logo {
  width: 65px;
  height: 64px;
}

.header-info {
  padding: 4.5% 6% 10% 7%;
}

h1 {
  font-size: 93px;
  font-weight: 800;
  color: #9ad2de;
  text-transform: uppercase;
  max-width: 700px;
  max-height: 265px;
  line-height: 0.95;
  margin: 0;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;

  line-height: 1.2;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 46px;
  text-transform: uppercase;
  margin-bottom: 10px;
  max-width: 571px;
}

p {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.header-phrase {
  padding-top: 64px;
  width: 484px;
}

h5 {
  font-size: 16px;
  line-height: 1.2;
}

.nav-list {
  display: flex;
}

.program-container {
  max-width: 100%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
  gap: 65px;
}

.description {
  text-align: center;
}

.blue-text {
  color: #73a6b1;
  width: 53%;
  margin: 0 auto;
}

.program-box {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  border-radius: 10px;
  align-items: center;
  background: #f1fdff;
  padding: 3.5%;
  max-width: 100%;  
}

.program-box img {
  width: 100%;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden; 
  padding: 1% 0;
  margin: 0 auto;
}

.program {
  width: 45%;
 
}
.program h4 {
  margin: 0;
  /* width: 80%; */
}

.event {
  margin: 45px 0 10px 0;
  font-size: 16px;
}

.time {
  margin: 0;
  color: #3d8c9d;
  font-size: 16px;
}

.more-info {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  background: #7ae5fd;
  max-width: 262px;
}

.dash {
  color: #9ad2de;
  font-weight: 100;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
  align-items: center;
  background: #f1fdff;
  margin: 30px 0;
  max-width: 100%;
}

.contacts-col-2 {
  max-width: 40%;
}

.contacts-container li {
  display: block;
  /* align-items: flex-start; */
  align-self: flex-start;
}

button {
  background: #7ae5fd;
  font-size: 18px;
  line-height: 1.2;
  padding: 21px 35px;
  border: none;
  border-radius: 87px;
  display: block;
  margin: 0 auto;
}

.gift-container {
  max-width: 100%;
  
  display: flex;
  flex-direction: row;
  background: url('./images/Фон5.png') no-repeat top left;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  margin: 5%;
  padding: 250px 0;
  margin-bottom: 68px;
}

.gift-text {
  width: 100%;
  background: #f2feff;
  border-radius: 10px;
  padding: 89px 40px;
}
.gift-text p {
  text-align: left;
  margin-left: 40px;
  width: 40%;
  font-size: 27px;
  line-height: 1.2;
}

.gift-photo {
  position: absolute;
  width: 31%;
  top: 25.2%;
  right: 9.2%;
}

.aim {
  text-align: center;
}

.registration-form {
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  margin: 8.1% auto 0;
  padding-top: 5%;
  overflow: hidden;
}
.mail-photo {
  width: 41%;
}
.right-box {
  width: 41%;
  display: flex;
  flex-direction: column;
  margin-right: 7.7%;
  margin-bottom: 4.4%;
}
.right-box-text {
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 40px;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  height: 66px;
  padding: 21px 0 21px 43px;
  background: #f9fadf;
  border-radius: 61px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
}

.form-button {
  height: 66px;
  padding: 10px;
  background: #7ae5fd;
  border-radius: 61px;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 1440px) {
  .program-container {
    max-width: 1240px;
  }
}

@media (max-width: 1200px) {
  .program-container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .program-container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .program-container {
    max-width: none;
  }
  h1 {
    font-size: 50px;
  }
.program h4 {
  font-size: 36px;
}
.contacts-col-1 h2 {
  font-size: 50px;
}
.program-box {
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
}

@media (max-width: 390px) {
  .program-container {
    max-width: none;
  }
  h1 {
    font-size: 50px;
  }
  .program h4 {
  font-size: 30px;
}
}
